html, body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

body {
    min-width: 360px;
    max-width: 1024px;
    margin: 0 auto;
}

header {
    display: flex;
    padding: 20px;
    justify-content: space-around;
    width: 90%;
}

.card {
    height: 300px;
    text-align: center;
    color: whitesmoke;
}

.card:hover {
  box-shadow: 0 0 20px rgba(33,33,33,.4); 
  z-index: 999;
}

.card-container {
    width: 100%;
    text-align: center;
}

#colors-container{
    display: flex;
    width: 100%;
}

input, select, button{
    height: 40px;
    cursor: pointer;
    border: 2px solid lightgray;
    border-radius: 5px;
    /* font-family: inherit; */
}